section {
  padding: 40px;
  min-height: 100vh;
  min-width: 100vw;
}

.languages {
  position: absolute;
  top: 3%;
  left: 40px;
  font-size: 0.8em;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--navy-blue);
  color: white;
  padding: 0 5px;
}

.languages .language {
  padding: 0 5px;
  cursor: pointer;
}

/* 사이드 바  */
.menu-icon {
  position: fixed;
  top: 3%;
  right: 3%;
  width: 30px;
  height: 25px;
  background-color: var(--navy-blue);
  fill: white;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1000;
}

.banner,
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  position: fixed;
  background-color: #20323e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding: 40px;
  z-index: 100;
  right: -100%;
}

.sidebar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #20323e;
}

.sidebar ul li {
  list-style: none;
  background-color: #20323e;
}
.sidebar ul li a {
  background-color: #20323e;
  color: #f8ee84;
  text-decoration: none;
  font-size: 1.5em;
  margin: 10px 0;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.sidebar ul li a:hover {
  color: #e8b069;
}

.sidebar.active {
  right: 0;
}

/* 제목 */
.title {
  width: 100%;
  text-align: center;
}

.title h2 {
  position: relative;
  color: var(--vintage-blue);
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 1px;
}

.title p {
  max-width: 700px;
  display: inline-block;
}

.title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 100px;
  height: 4px;
  background-color: var(--vintage-blue);
}

.title.white h2,
.title.white p {
  color: white;
}

.title.white h2::before {
  background-color: var(--light-yellow);
}
