.contact {
  background-color: var(--vintage-blue);
}

.contact .title h4 {
  color: white;
  font-size: 1.1rem;
  padding-top: 1.8em;
}

.contact .content {
  display: grid;
  grid-template-columns: 1fr;
  margin: 40px 0;
  grid-gap: 20px;
}

.contact .content a {
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  transform: 0.5s;
}

.contact .content a box-icon {
  fill: var(--deep-yellow);
  font-size: 1.5em;
  margin-right: 10px;
  transition: 0.5s;
  transform: translateY(-0.4rem);
}

.contact .content a:hover,
.contact .content a:hover box-icon {
  fill: var(--light-yellow);
  transform: scale(1.1) translateY(-0.4rem);
}

.copyright {
  background-color: var(--vintage-blue);
  color: var(--orange-yellow);
  text-align: center;
  padding: 10px;
}

.copyright p {
  margin: 100px;
  font-size: 16px;
}
