.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.banner .side-img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
}
.banner .side-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner h2 {
  font-size: 1.3em;
  font-weight: 300;
  margin-bottom: 20px;
}

.frontend-dev {
  font-size: 1.5em;
  color: var(--vintage-blue);
  font-weight: 700;
}

.banner h4 {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.8em;
}

.banner .keyword {
  font-size: 1.1em;
  font-weight: 700;
  color: black;
  background-color: var(--keyword-bg-color);

  padding: 0 4px;
  border-radius: 3px;
}

p {
  font-size: 1em;
  margin: 20px 0;
  font-weight: 300;
}

.banner .btns {
  margin-top: 3rem;
}

.banner .btn {
  background-color: var(--vintage-blue);
  color: var(--light-yellow);
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
}
