.projects {
  background-color: var(--vintage-blue);
}

.projects .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects .content .projects-box {
  position: relative;
  max-width: 100%;
  width: 100%;
  margin: 10px 0;
  height: 265px;
  transition: 0.5s;
  text-align: center;
  background-color: var(--background-color);
}
.projects .content .projects-box .img-box,
.projects .content .projects-box .text-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .content .projects-box .img-box img {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.projects .content .projects-box .text-box {
  background-color: var(--navy-blue);
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}
.projects .content .projects-box:hover .text-box {
  opacity: 1;
}
.projects .content .projects-box .text-box h3 {
  color: var(--light-yellow);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
}
